---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=<WEATHER_API_KEY>&q=29.76078,95.36952
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999356'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/15/2024 00:39:55
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - adb77a29b149242b08830073f0e5dd45
      Cdn-Cache:
      - EXPIRED
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Qarasa","region":"Xizang","country":"China","lat":29.76,"lon":95.37,"tz_id":"Asia/Shanghai","localtime_epoch":1705279158,"localtime":"2024-01-15
        8:39"},"current":{"last_updated_epoch":1705278600,"last_updated":"2024-01-15
        08:30","temp_c":-5.9,"temp_f":21.4,"is_day":1,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":20,"wind_dir":"NNE","pressure_mb":1024.0,"pressure_in":30.24,"precip_mm":0.0,"precip_in":0.0,"humidity":47,"cloud":0,"feelslike_c":-5.9,"feelslike_f":21.4,"vis_km":10.0,"vis_miles":6.0,"uv":2.0,"gust_mph":3.8,"gust_kph":6.0},"forecast":{"forecastday":[{"date":"2024-01-15","date_epoch":1705276800,"day":{"maxtemp_c":11.8,"maxtemp_f":53.2,"mintemp_c":-6.0,"mintemp_f":21.3,"avgtemp_c":2.8,"avgtemp_f":37.0,"maxwind_mph":6.0,"maxwind_kph":9.7,"totalprecip_mm":0.03,"totalprecip_in":0.0,"totalsnow_cm":0.0,"avgvis_km":10.0,"avgvis_miles":6.0,"avghumidity":39,"daily_will_it_rain":0,"daily_chance_of_rain":0,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Sunny","icon":"//cdn.weatherapi.com/weather/64x64/day/113.png","code":1000},"uv":4.0},"astro":{"sunrise":"06:34
        AM","sunset":"05:02 PM","moonrise":"09:31 AM","moonset":"09:22 PM","moon_phase":"Waxing
        Crescent","moon_illumination":17,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1705248000,"time":"2024-01-15
        00:00","temp_c":1.9,"temp_f":35.5,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":0.2,"wind_kph":0.4,"wind_degree":10,"wind_dir":"N","pressure_mb":1024.0,"pressure_in":30.23,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":41,"cloud":3,"feelslike_c":2.0,"feelslike_f":35.5,"windchill_c":2.0,"windchill_f":35.5,"heatindex_c":2.0,"heatindex_f":35.5,"dewpoint_c":-9.9,"dewpoint_f":14.2,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":0.4,"gust_kph":0.6,"uv":1.0},{"time_epoch":1705251600,"time":"2024-01-15
        01:00","temp_c":1.5,"temp_f":34.7,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":0.4,"wind_kph":0.7,"wind_degree":10,"wind_dir":"N","pressure_mb":1024.0,"pressure_in":30.23,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":42,"cloud":0,"feelslike_c":1.5,"feelslike_f":34.7,"windchill_c":1.5,"win[...]
