---
http_interactions:
- request:
    method: get
    uri: https://api.yelp.com/v3/businesses/search?latitude=37.786882&longitude=-122.399972&term=deli
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer Ij5JAHR0ADVbkcdfSq04In6Ak61zKrxZ8bxWwsS093evmJ_PTwzGwiSa4IOdW7jBvXGj7uIqz8MlbwtwHFUQjdBmw8mnMUZX2LREqCcoSh4tvIR3smz0AZW8d0GkZXYx
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Ratelimit-Dailylimit:
      - '500.0'
      X-Zipkin-Id:
      - 933264a221337225
      Ratelimit-Remaining:
      - '497.0'
      X-Routing-Service:
      - routing-main--useast1-74f644dc4b-g4jnn; site=public_api_v3
      Ratelimit-Resettime:
      - '2024-01-15T00:00:00+00:00'
      X-Mode:
      - ro
      X-Proxied:
      - 10-65-79-132-useast1aprod
      X-Extlb:
      - 10-65-79-132-useast1aprod
    body:
      encoding: ASCII-8BIT
      string: '{"businesses": [{"id": "FmGF1B-Rpsjq1f5b56qMwg", "alias": "molinari-delicatessen-san-francisco",
        "name": "Molinari Delicatessen", "image_url": "https://s3-media3.fl.yelpcdn.com/bphoto/CwWUZKM8T3QaSvvEMjI7pw/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/molinari-delicatessen-san-francisco?adjust_creative=4w80E_gfbssAKMWYHaqPgw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=4w80E_gfbssAKMWYHaqPgw",
        "review_count": 1361, "categories": [{"alias": "gourmet", "title": "Specialty
        Food"}, {"alias": "delis", "title": "Delis"}], "rating": 4.5, "coordinates":
        {"latitude": 37.79838, "longitude": -122.40782}, "transactions": ["delivery",
        "pickup"], "price": "$$", "location": {"address1": "373 Columbus Ave", "address2":
        "", "address3": "", "city": "San Francisco", "zip_code": "94133", "country":
        "US", "state": "CA", "display_address": ["373 Columbus Ave", "San Francisco,
        CA 94133"]}, "phone": "+14154212337", "display_phone": "(415) 421-2337", "distance":
        1465.2460213942109}, {"id": "BcW0vRdM8N-rteR2FfV1jg", "alias": "deli-board-san-francisco",
        "name": "Deli Board", "image_url": "https://s3-media2.fl.yelpcdn.com/bphoto/uJVU-XMdAUNlMNu--ElWnQ/o.jpg",
        "is_closed": false, "url": "https://www.yelp.com/biz/deli-board-san-francisco?adjust_creative=4w80E_gfbssAKMWYHaqPgw&utm_campaign=yelp_api_v3&utm_medium=api_v3_business_search&utm_source=4w80E_gfbssAKMWYHaqPgw",
        "review_count": 1722, "categories": [{"alias": "delis", "[...]
