---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=7&key=<WEATHER_API_KEY>&q=29.76078,95.36952
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999301'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/16/2024 21:56:47
      Cdn-Edgestorageid:
      - '1069'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - 0405cf83bedf42672878a4c9c4ebf5fc
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Qarasa","region":"Xizang","country":"China","lat":29.76,"lon":95.37,"tz_id":"Asia/Shanghai","localtime_epoch":1705442168,"localtime":"2024-01-17
        5:56"},"current":{"last_updated_epoch":1705441500,"last_updated":"2024-01-17
        05:45","temp_c":-1.1,"temp_f":30.0,"is_day":0,"condition":{"text":"Partly
        cloudy","icon":"//cdn.weatherapi.com/weather/64x64/night/116.png","code":1003},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":358,"wind_dir":"N","pressure_mb":1021.0,"pressure_in":30.15,"precip_mm":0.0,"precip_in":0.0,"humidity":72,"cloud":25,"feelslike_c":-1.1,"feelslike_f":30.0,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":6.7,"gust_kph":10.8},"forecast":{"forecastday":[{"date":"2024-01-17","date_epoch":1705449600,"day":{"maxtemp_c":7.8,"maxtemp_f":46.1,"mintemp_c":-4.7,"mintemp_f":23.5,"avgtemp_c":1.2,"avgtemp_f":34.2,"maxwind_mph":5.8,"maxwind_kph":9.4,"totalprecip_mm":1.45,"totalprecip_in":0.06,"totalsnow_cm":0.64,"avgvis_km":9.1,"avgvis_miles":5.0,"avghumidity":66,"daily_will_it_rain":1,"daily_chance_of_rain":89,"daily_will_it_snow":0,"daily_chance_of_snow":0,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":3.0},"astro":{"sunrise":"06:34
        AM","sunset":"05:03 PM","moonrise":"10:36 AM","moonset":"11:31 PM","moon_phase":"Waxing
        Crescent","moon_illumination":37,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1705420800,"time":"2024-01-17
        00:00","temp_c":-0.3,"temp_f":31.5,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":0.2,"wind_kph":0.4,"wind_degree":114,"wind_dir":"ESE","pressure_mb":1022.0,"pressure_in":30.19,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":75,"cloud":10,"feelslike_c":-0.3,"feelslike_f":31.5,"windchill_c":-0.3,"windchill_f":31.5,"heatindex_c":-0.3,"heatindex_f":31.5,"dewpoint_c":-4.2,"dewpoint_f":24.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":0.4,"gust_kph":0.6,"uv":1.0,"short_rad":0.0,"diff_rad":0.0},{"time_epoch":1705424400,"time":"2024-01-17
        01:00","temp_c":-0.8,"temp_f":30.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":0.2,"wind_kph":0.4,"wind_degree":296,"wind_dir":"WNW","pressure_mb":1023.0,"pressure_in":30.2,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":73,"cloud":10,"feelslike_c":-0.8,"feelslike_f":30.6,"windchill_c":-0.8,"windchill_f":30.6,"heatindex_c":-0.8,"heatindex_f":30.6,"dewpoin[...]
