---
http_interactions:
- request:
    method: get
    uri: http://api.weatherapi.com/v1/forecast.json?days=5&key=<WEATHER_API_KEY>&q=29.76078,95.36952
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Cdn-Pullzone:
      - '93447'
      Cdn-Uid:
      - 8fa3a04a-75d9-4707-8056-b7b33c8ac7fe
      Cdn-Requestcountrycode:
      - US
      X-Weatherapi-Qpm-Left:
      - '4999341'
      Cdn-Proxyver:
      - '1.04'
      Cdn-Requestpullsuccess:
      - 'True'
      Cdn-Requestpullcode:
      - '200'
      Cdn-Cachedat:
      - 01/15/2024 20:07:21
      Cdn-Edgestorageid:
      - '1070'
      Cdn-Status:
      - '200'
      Cdn-Requestid:
      - '098c8597f8e413ed2d9ef5a1153d05b5'
      Cdn-Cache:
      - MISS
    body:
      encoding: ASCII-8BIT
      string: '{"location":{"name":"Qarasa","region":"Xizang","country":"China","lat":29.76,"lon":95.37,"tz_id":"Asia/Shanghai","localtime_epoch":1705349202,"localtime":"2024-01-16
        4:06"},"current":{"last_updated_epoch":1705348800,"last_updated":"2024-01-16
        04:00","temp_c":-2.0,"temp_f":28.4,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":2.2,"wind_kph":3.6,"wind_degree":56,"wind_dir":"ENE","pressure_mb":1021.0,"pressure_in":30.16,"precip_mm":0.0,"precip_in":0.0,"humidity":58,"cloud":11,"feelslike_c":-2.0,"feelslike_f":28.4,"vis_km":10.0,"vis_miles":6.0,"uv":1.0,"gust_mph":2.8,"gust_kph":4.5},"forecast":{"forecastday":[{"date":"2024-01-16","date_epoch":1705363200,"day":{"maxtemp_c":9.4,"maxtemp_f":48.9,"mintemp_c":-2.9,"mintemp_f":26.8,"avgtemp_c":1.9,"avgtemp_f":35.4,"maxwind_mph":6.5,"maxwind_kph":10.4,"totalprecip_mm":1.73,"totalprecip_in":0.07,"totalsnow_cm":0.5,"avgvis_km":9.5,"avgvis_miles":5.0,"avghumidity":60,"daily_will_it_rain":1,"daily_chance_of_rain":85,"daily_will_it_snow":0,"daily_chance_of_snow":13,"condition":{"text":"Patchy
        rain possible","icon":"//cdn.weatherapi.com/weather/64x64/day/176.png","code":1063},"uv":3.0},"astro":{"sunrise":"06:34
        AM","sunset":"05:02 PM","moonrise":"10:04 AM","moonset":"10:26 PM","moon_phase":"Waxing
        Crescent","moon_illumination":26,"is_moon_up":0,"is_sun_up":0},"hour":[{"time_epoch":1705334400,"time":"2024-01-16
        00:00","temp_c":1.5,"temp_f":34.8,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":0.7,"wind_kph":1.1,"wind_degree":117,"wind_dir":"ESE","pressure_mb":1022.0,"pressure_in":30.18,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":53,"cloud":9,"feelslike_c":1.6,"feelslike_f":34.8,"windchill_c":1.6,"windchill_f":34.8,"heatindex_c":1.6,"heatindex_f":34.8,"dewpoint_c":-7.0,"dewpoint_f":19.4,"will_it_rain":0,"chance_of_rain":0,"will_it_snow":0,"chance_of_snow":0,"vis_km":10.0,"vis_miles":6.0,"gust_mph":1.1,"gust_kph":1.7,"uv":1.0},{"time_epoch":1705338000,"time":"2024-01-16
        01:00","temp_c":1.4,"temp_f":34.6,"is_day":0,"condition":{"text":"Clear","icon":"//cdn.weatherapi.com/weather/64x64/night/113.png","code":1000},"wind_mph":0.7,"wind_kph":1.1,"wind_degree":84,"wind_dir":"E","pressure_mb":1022.0,"pressure_in":30.18,"precip_mm":0.0,"precip_in":0.0,"snow_cm":0.0,"humidity":54,"cloud":9,"feelslike_c":1.4,"feelslike_f":34.6,"windchill_c":1.4,"win[...]
